.button
  background-color: #fff
  border: 2px solid var(--blue)
  border-radius: 5px
  color: var(--blue)
  font-size: 20px
  transition: .2s color, background-color
  cursor: pointer
  &:hover
    color: #fff
    background-color: var(--blue)
  &Disabled
    pointer-events: none
    opacity: .7
  &Loading
    &Wrapper
      display: flex
      align-items: center
      justify-content: center
      position: relative
    &Label
      position: absolute
      font-size: 10px
      opacity: .7
